<section id="intro">
  <div id="blur"></div>
  <div class="vert-text">
    <p class="name_title"><b>Thanh Huynh</b></p>
    <div id="textMessage">
      <p class="textContent">Developer & Designer</p>
      <p class="textContent">Ruby on Rails</p>
      <p class="textContent">HTML5 CSS3</p>
      <p class="textContent">Javascript</p>
      <p class="textContent">Let's build something together</p>
    </div>
  </div>
  <a href="#about" class="scroll arrow"><i class="fa fa-angle-down"></i></a>
</section>

<section id="about">
 <nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="#about" class="scroll">about</a></li>
        <li><a href="#resume" class="scroll">resume</a></li>
        <li><a href="#portfolio" class="scroll">portfolio</a></li>
        <li><a href="#kindwords" class="scroll">kind words</a></li>
        <li><a href="#contact" class="scroll">contact</a></li>
        <li><a href="#">blog</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container -->
</nav>

  <div class="navbar-addon">
  <div id="hexagon"><a href="#intro" class="scroll navbar-brand"><b>TH</b></a></div></div>



  <h1 class="text-center">Hello! My name is Thanh.</h1>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
      <img src="/assets/profilepicsmall.png" class="img-rounded img-responsive fade-it col-md-4" id="profilepic">
      </div>
      <div class="col-md-8">
        <p>Lorem ipsum dolor sit amet, id quodsi percipitur qui, no sea melius alterum. Oblique meliore has no. An recusabo recteque eum. Ornatus atomorum philosophia eos id. Eos at nisl iusto nonumy, esse vidit disputando quo ad. Ferri movet aperiam in mel. Docendi prodesset sententiae et has, id hendrerit intellegat eam. Nec graece albucius suavitate in. Pro an audire praesent suscipiantur. Cu habeo feugait vix, mollis debitis usu et, id mel atqui omittantur. Delenit inermis ad nec, ne praesent maluisset vim, eum velit laboramus ut. Vide feugiat an quo, usu no magna tibique appetere, te eum quod vivendo dissentias. Luptatum intellegat his no. Sed cu brute placerat signiferumque, sint audire ex eum, eum dolorem qualisque efficiantur at. Dicant veniam deterruisset eu est. Aliquam tacimates ea quo. Odio appellantur adversarium ei vix, vel et sumo novum, nec veniam habemus vivendum ei. Natum novum nominati vis ei, ne quaeque ceteros eum. Mollis mediocritatem an vel, ad malis definiebas eum. Nec in expetendis complectitur, at quod noster audire sit. Alia nemore phaedrum ad nec, te scribentur definitionem eum, oblique epicuri ne mei. Sit mutat aliquip feugiat id, has minimum senserit intellegebat te. Eum fabulas dissentiet deterruisset ex, porro efficiendi sit te. Ei sit purto dicta, his cu oratio apeirian. Mundi tollit in mea, in pro exerci elaboraret. At choro instructior quo, has eius movet inciderint no. Te vim agam fabulas, ex unum altera electram quo.</p>
      </div>
    </div>
  </div>
</section>

<section id="portfolio">
    <h1 class="col-md-6 col-md-offset-3 text-center">Portfolio</h1>
      <div class="gallery">
        <figure>
          <a href="#"><img src="/assets/fake_pinterest.png" class="resize"></a>
          <figcaption>Fake Pinterest</figcaption>
        </figure>
        <figure>
          <a href="offerletter.herokuapp.com"><img src="/assets/offerletter.png" class="resize"></a>
          <figcaption>OfferLetter</figcaption>
        </figure>
        <figure>
          <a href="http://brook-ivan-adventure.herokuapp.com/"><img src="/assets/splash_page.png" class="resize"></a>
          <figcaption>Brook and Ivan Adventure</figcaption>
        </figure>
        <figure>
          <a href="littleprogrammers.herokuapp.com"><img src="/assets/littleprogrammers.png" class="resize"></a>
          <figcaption>Little Programmers</figcaption>
        </figure>
      </div>
</section>

<section id="kindwords">
  <div class="col-md-6 col-md-offset-3 text-center">
    <h1>Kind Words</h1>
    <h3>Thanh is really cool</h3>
  </div>
</section>

<section id="contact">
  <div class="container">
  <div class="col-md-6 col-md-offset-3 text-center">
    <h1>Contact Me</h1>
    <li class="divider"></li>
    <i class="fa fa-github"></i>
    <i class="fa fa-twitter"></i>
    <i class="fa fa-linkedin"></i>
  </div>
  <img src="/assets/coffee.jpg" id="move-it" style="position:relative" class="img-responsive">
</div>
</section>

