<section id="intro">
  <div class="vert-text">
    <h1>Thanh Huynh</h1>
    <h3>Ruby on Rails Developer</h3>
    <a href="#about" class="scroll"><i class="fa fa-chevron-down"></i></a>
  </div>
</section>

<section id="about">
  <div class="container">
    <div class="col-md-6 col-md-offset-3 text-center">
      <div id="content-wrapper">

    <div id="examples-1">
      <h2 class="fade-it">Fade It</h2>
      <h2 id="fly-it" style="position:relative">Fly It</h2>
      <h2 id="spin-it">Spin It</h2>
      <h2 id="scale-it">Scale It</h2>
      <h2 id="smush-it">Smush It</h2>
    </div>
  </div>
      <h1>About Me</h1>
      <img src="/assets/profilepicsmall.png" class="img-thumbnail img-responsive fade-it" id="profilepic">
      <h3>Things I'm passionate about</h3>
    </div>
  </div>
</section>

<section id="resume">
  <div class="col-md-6 col-md-offset-3 text-center">
    <h1>Resume</h1>
    <h3>Here are my accomplishments</h3>
  </div>
</section>
<section id="kindwords">
  <div class="col-md-6 col-md-offset-3 text-center">
    <h1>Kind Words</h1>
    <h3>Thanh is really cool</h3>
  </div>
</section>

<section id="portfolio">
    <h1>Portfolio</h1>
    <img src="/assets/coffee.jpg" id="move-it" style="position:relative">
</section>

<section id="contact">
  <div class="container">
  <div class="col-md-6 col-md-offset-3 text-center">
    <h1>Contact Me</h1>
    <li class="divider"></li>
    <i class="fa fa-github"></i>
    <i class="fa fa-twitter"></i>
    <i class="fa fa-linkedin"></i>
  </div>
</div>
</section>

