html,
body {
  height: 100%;
  width: 100%;
}

section {
  overflow: hidden;
  height: 100%;
  width: 100%;
}

#intro {
  display: table;
  background: url(stairs.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: relative;
}

.vert-text {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

#about{
  background: #ffffff;
  padding: 50px 0;
}

#resume {
  background-color: #000000;
}

#kindwords {
  background-color: #444444;
}

#portfolio {
  background-color: #ffffff;
}

#contact {
  background-color: #000000;
}

.divider {
  height: 1px;
  margin: 9.5px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}

.arrow {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #0070FF;
  opacity: 0.6;
  margin: auto;
  vertical-align: middle;
  text-align: center;
  left: 0;
  right: 0;
  bottom: 60px;
  position: absolute;
}

i {
  font-size: 30px;
  color: #ffffff;
}

.fa {
  line-height: inherit;
}

#textMessage{
  font-size: 36px;
  color: #ffffff;
}

.name_title {
  font-size: 72px ;
  letter-spacing: 2px;
  color: #ffffff;
}


