html {
  display: block;
}

html,
body {
  height: 100%;
}

section {
  overflow: hidden;
  height: 100%;
  width: 100%;
  display: block;
  padding-top: 100px;
}

#intro {
  display: table;
  background: url(stairs.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 9999;
}

.vert-text {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

#about{
  background: #ffffff;
}

#kindwords {
  background-color: #f4f4f4;
  height: 135%;
}

#portfolio {
  background-color: #f9f9f9;
  height: 150%;
}

#contact {
  display: table;
  background: url(lights.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: relative;
}

.divider {
  height: 1px;
  margin: 9.5px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}

.arrow {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #0070FF;
  margin: auto;
  vertical-align: middle;
  text-align: center;
  left: 0;
  right: 0;
  bottom: 60px;
  position: absolute;
}

i {
  font-size: 30px;
  color: #ffffff;
}

.social_media i {
  margin: 0px 40px 0 40px;
  font-size: 42px;
}

.social_media {
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
  position: relative;
}

.fa {
  line-height: inherit;
}

#textMessage{
  font-size: 48px;
  color: #ffffff;
}

.name_title {
  font-size: 96px ;
  letter-spacing: 2px;
  color: #ffffff;
}

.img-rounded {
  width: 400px;
  border-radius: 4px;
}

.text-center {
  font-size: 56px;
  font-weight: 800;
  color: #3a3a3a;
  font-family: helvetica;
}

.gallery {
  width: 960px;
  margin: auto;
  padding-left: 40px;
}

.resize {
  width: 400px;
  margin: 20px 0px 20px 0px;
}

div {
  display: block;
}

.gallery figure {
  float: left;
  margin: 20px;
  top: auto;
  left: auto;
  position: relative;
}

.reference {
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  padding: 30px;
}

.reference_pictures {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  margin-bottom: 25px;
}

footer {
  padding: 15px 15px 0px 15px;
  text-align: center;
  background-color: #000000;
  color: #ffffff;
}

footer p {
  font-size: 16px;
}

figure {
  width: 400px;
  background-color: #ffffff;
}

figure p {
  font-size: 14px;
  padding: 0px 15px 0px 15px;
}

strong {
  color: #ff8f00;
}

figcaption {
  text-align: center;
}

#dot_layer {
  background-image: url(dot_pattern.png);
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: -10;
}

p {
  font-size: 22px;
}

.testimony {
  width: 300px;
  padding-left: 50px;
}

.reference p {
  text-align: center;
}

@media (max-width: 1160px) {
  #about {
    height: 175%;
  }

  #portfolio {
    height: 250%;
  }

  #kindwords {
    height: 250%;
  }

  #contact {
    height: 150%;
  }

  .testimony {
    padding-left: 25px;
    width: 200px;
  }
}

@media screen and (min-device-width : 320px) and (max-device-width : 568px) {
  body {
    overflow-x: hidden;
  }

  #about {
    height: 300%
  }

  #portfolio {
    height: 300%;
  }

  #kindwords {
    height: 490%;
  }

  .social_media{
    margin-bottom: 20px;
  }

  .container {
    margin-left: 0px;
  }

  .reference {
    margin-bottom: 20px;
    width: 290px;
  }

  .reference p {
    width: 250px;
    padding-right: 25px;
  }

  .gallery {
    padding-left: 0px;
  }

  .gallery figure {
    float: none;
    width: 280px;
  }

  .resize {
    width: 270px;
  }

  .testimony {
    padding-left: 25px;
    width: 200px;
  }

  .col-md-8 {
    width: 320px;
  }

  .col-md-6 {
    width: 320px;
  }

  .col-md-4 {
    width: 290px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 20px 15px;
  }

  .col-md-offset-3 {
    margin-left: 0%;
  }

  .name_title {
    font-size: 48px;
    width: 320px;
  }

  #textMessage {
    font-size: 28px;
    width: 320px;
  }

  .text-center {
    margin-bottom: 20px
  }
}
