.icon-bar {
  background-color: #000000;
}


.container {
  margin-bottom: 30px;
}

.navbar-fixed-top {
  box-shadow: 0 2px 3px -2px gray;
}

.navbar-addon {
  position: relative;
  right: 0;
  left: 0;
  background-color: #ffffff;
  z-index: 9999;
  margin: auto;
  box-shadow: 0 2px 3px -2px gray;
  height: 65px;
  width: 65px;
  border-radius: 0 0 90px 90px;
  -moz-border-radius: 0 0 90px 90px;
  -webkit-border-radius: 0 0 90px 90px;
}

.navbar-nav {
  margin: 0 auto 0 auto;
  float: none;
  display: table;
  table-layout: fixed;
  font-size: 1.25em;
}

#hexagon {
  top: 25px;
  right: 0;
  left: 0;
  margin: auto;
  width: 36px;
  height: 20px;
  background-color: #0070FF;
  position: absolute;
  z-index: 9999;
}

#hexagon:before {
  content: "";
  position: absolute;
  top: -9px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 18px solid transparent;
  border-right: 18px solid transparent;
  border-bottom: 9px solid #0070FF;
}
#hexagon:after {
  content: "";
  position: absolute;
  bottom: -9px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 18px solid transparent;
  border-right: 18px solid transparent;
  border-top: 9px solid #0070FF;
}
