<footer class="footer">
  <div class="footer-bottom">
    <div class="container">
      <div class="col-md-6 col-md-offset-3 text-center">
        <p>Copyright 2013. Thanh Huynh. All Rights Reserved.</p>
      </div>
    </div>
  </div>
</footer>
