<div class="navbar-fixed-left">
  <div class="navbar-header">
    <a href="#intro" class="navbar-brand">TDH</a>
      <ul class="nav">
        <li><a href="#about">about</a></li>
        <li><a href="#resume">resume</a></li>
        <li><a href="#kindwords">kind words</a></li>
        <li><a href="#portfolio">portfolio</a></li>
        <li><a href="#contact">contact</a></li>
        <li><a href="#">blog</a></li>
      </ul>
  </div>
</div>
